// Collaborators section styles
#collaborators {
    background-color: $light-bg;
    max-width: none;
    
    .collaborators-content {
        max-width: $max-width;
        margin: 0 auto;
    }
}

.collaborators-info {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: $white;
    border-left: 4px solid $secondary-color;
    border-radius: 4px;
    
    a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: 500;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
